
nav {float:top;
 margin:20px;
 padding:10em;
 display:block;
}

li {
    list-style:none;
    float:left;
    margin:10px;
    background-color:teal;
    padding:7px 14px;
    color:white;
    text-transform:uppercase;
    font-family:Helvetica;
  }

h1 {text-transform: uppercase;}

h2 {text-size:15px; }

h3{text size:11px;}

p {text-size:9px;}
/* END RESET */


