/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */

#este {border-left: 1px solid black;
	margin-left:45px;
	margin-top:120px;
	margin-bottom:80px;
}


	#lol{
		float:left;
		width:17%;
		margin-left:200px;
		margin-top:-40px;
		font-family:"Sweet Pea";
		font-size:18px;
	
	}


#lala {
    list-style:none;
	float:left;
	width:15%;
	margin-top:35px;
	margin-left:15px;
	font-size:12px;
	font-family:"Futura Std";
}
    
  

#contenido{
	float:left;
	float:left;
	width:30%;
	margin-top:265px;
	margin-left:-180px;
	font-size:12px;
	font-family:"Futura Std";
}

h2 {position:relative;
	font-size:18px;
	font-family:"Futura Std";}	

#segundo {
	-webkit-transform:rotate(270deg);
	position:absolute;
	bottom:270px;
	left:-15px;
	font-size:15px;
	
}


#primero {
	-webkit-transform:rotate(270deg);
	position:absolute;
	top:185px;
	left:-15px;
	font-size:15px;
}

#pata {
	float:left;
	margin-left:-50px;
	margin-top:500px;
	font-size:12px;
	font-family:"Futura Std";
}

#next{
	float:left;
	margin-left:-430px;
	margin-top:550px;
	font-size:12px;
	font-family:"Futura Std";
}

#pdf{
	float:left;
	margin-left:-430px;
	margin-top:535px;
	font-size:12px;
	font-family:"Futura Std";
}